:root {
    /* Colors */
    --body-grey-color: #F0F3F4;
    --dark-grey-color: #748495;
    --light-grey-color: #DAE1E7;
    --hr-grey-color: #CCCCCC;
    --topbar-grey-color: #4A5764;
    --white-color: #FFFFFF;
    --red-color: #F44336;
    --slate-color: #5d6d7e;
    --slate-color-faint: #5D6D7E80;
    --green-color: #4CAF50;
    --purple-color: #8F5E99;
    --orange-color: #FF9919;
    
    /* Font Sizes */
    --xbig-font-size: 60px;
    --big-font-size: 16px;
    --medium-font-size: 14px;
    --normal-font-size: 12px;
    --small-font-size: 6px;
    --axis-font-size: 11px;

    /* Dimensions */
    --chart-width: 950px;
    --chart-height: 700px;
    --pie-chart-width: 320px;
    --pie-chart-height: 320px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: var(--body-grey-color); 
    margin: 0;
}

/* Container */
.containerH {
    display: flex;
    flex-direction: row;
}
.containerV {
    display: flex;
    flex-direction: column;
}
.time-bar-container {
    margin-left: 8px;
    width: 100%;
    height: 8px;
    display: inline-block;
    border-radius: 4px;
    background-color: var(--light-grey-color);
}

/* Alignment */
.justify-space {
    justify-content: space-between;
}
.vertical-center {
    align-items: center;
}
.horizontal-center {
    justify-content: center;
}
.fill-vertical {
    height: 100%;
}
.fill-horizontal {
    width: 100%;
}

/* Font */
.xlarge {
    font-size: var(--xbig-font-size);
}
.large {
    font-size: var(--big-font-size);
}
.small {
    font-size: var(--small-font-size);
}
.medium {
    font-size: var(--medium-font-size)
}
.emphasize {
    font-weight: bold;
}

.bubble {
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.faint {
    opacity: 0.5;
}

hr {
    border: 0;
    border-bottom: 1px dashed var(--hr-grey-color);
    width: 100%;
}

sub {
    font-size: var(--small-font-size);
}

.topbar {
    background: var(--topbar-grey-color);
    padding: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.24), 0 1px 2px rgba(0,0,0, 0.36);
}

.data-description {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    font-size: var(--normal-font-size);
    border-radius: 4px;
}

.topbar-title {
    margin-left: 8px;
    margin-right: 8px;
    color: var(--white-color);
    font-size: 24px;
    /* font-variant: small-caps; */
    font-weight: bold;
}

.separator-big {
    color: var(--light-grey-color);
    font-size: var(--big-font-size);
    margin-left: 4px;
}

.separator-normal {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: var(--light-grey-color);
    font-size: var(--normal-font-size);
}

div #chart-container {
    height: var(--chart-height);
    width: var(--chart-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart {
    width: var(--chart-width);
    height: var(--chart-height);
    display: none;
    opacity: 0;
}

#pie-chart {
    width: var(--pie-chart-width);
    height: var(--pie-chart-height);
}

div #gradient-bar-container {
    height: 100%;
    width: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div #gradient-bar {
    height: 50%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: 0.5px solid var(--dark-grey-color);
}

div #bottom-bar {
    margin-top: 2px;
    margin-left: 4px;
    height: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.pane {
    padding: 16px;
}

.infobox-text {
    color: var(--slate-color);
}

.infobox-text-faint {
    color: var(--slate-color-faint);
}

div #scatter-text {
    font-weight: bold;
    font-variant: small-caps;
}

div #infobox {
    background: var(--white-color);
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
    margin: 30px;
    width: 350px;
    height: 582px;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    /* flex: 1; */
}

div #infobox:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
}

div #infobox-top {
    background: var(--red-color);
    height: 125px;
    position: relative;
}

div #scatter-bar {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

div #time-bar {
    width: 0%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--dark-grey-color);
}

div #main-bar {
    display: inline-block;
}

/* D3 Elements */
.axis path,
.axis line {
    fill: none;
    stroke: var(--slate-color);
    shape-rendering: crispEdges;
} 
.axis text {
    font-family: sans-serif;
    font-size: var(--axis-font-size);
    fill: var(--slate-color);
}

/* Buttons */ 
.button {
    background-color: var(--white-color);
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
    width: 124px;
}
.button_red {
    color: var(--red-color);
    border-radius: 4pt;
    border: 2px solid var(--red-color);
}
.button_red:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}
.button_green {
    color: var(--green-color);
    border-radius: 4pt;
    border: 2px solid var(--green-color);
}
.button_green:hover {
    background-color: var(--green-color);
    color: var(--white-color);
}
.button_violet {
    color: var(--purple-color);
    border-radius: 4pt;
    border: 2px solid var(--purple-color);
}
.button_violet:hover {
    background-color: var(--purple-color);
    color: var(--white-color);
}
.button_orange {
    color: var(--orange-color);
    border-radius: 4pt;
    border: 2px solid var(--orange-color);
}
.button_orange:hover {
    background-color: var(--orange-color);
    color: var(--white-color);
}