/* body color #F0F3F4
medium gray #5D6D7E 
steel blue #4292C6 */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #F0F3F4; 
    margin: 0;
}

/* Containers */

.containerH {
    display: flex;
    align-items: center;
}

.containerV {
    display: flex;
    flex-direction: column;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
}

.topbar {
    background: #4A5764;
    padding: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.24), 0 1px 2px rgba(0,0,0, 0.36);
}

.data-minmax {
    color: #ffffff;
    margin-left: 10px;
    font-size: 12px;
}

.data-description {
    color: #ffffff;
    margin-left: 8px;
    font-size: 20px;
}

.topbar-title {
    margin-left: 8px;
    margin-right: 8px;
    color: #ffffff;
    font-size: 24px;
    /* font-variant: small-caps; */
    font-weight: bold;
}

.separator {
    color: #ffffff;
}

div #infobox-content {
    padding: 16px;
}

.info-xy {
    color: #5D6D7E;
}

div #infobox {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
    margin: 30px;
    width: 350px;
    height: 600px;
    border-radius: 2px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    /* flex: 1; */
}

div #infobox:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
}

div #infobox-top {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: #f44336;
    height: 125px;
    position: relative;
}

/* D3 */

.axis path,
.axis line {
    fill: none;
    stroke: #5D6D7E;
    shape-rendering: crispEdges;
}
  
.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #5D6D7E;
}

/* Buttons */
  
.button {
    background-color: #ffffff; 
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}

.button_red {
    color: #f44336;
    border-radius: 4pt;
    border: 2px solid #f44336;
}

.button_red:hover {
    background-color: #f44336;
    color: white;
}

.button_green {
    color: #4CAF50;
    border-radius: 4pt;
    border: 2px solid #4CAF50;
}

.button_green:hover {
    background-color: #4CAF50;
    color: white;
}

.button_violet {
    color: #8F5E99;
    border-radius: 4pt;
    border: 2px solid #8F5E99;
}

.button_violet:hover {
    background-color: #8F5E99;
    color: white;
}

.button_orange {
    color: #FF9919;
    border-radius: 4pt;
    border: 2px solid #FF9919;
}

.button_orange:hover {
    background-color: #FF9919;
    color: white;
}




